<form method="post" action="/PieChart/Save">
    <div class="mb-3">
        <label for="PieChartName" class="form-label">Name</label>
        <input type="text" class="form-control" name="PieChartName">
    </div>
    <div class="mb-3">
        <label for="PieChartValue" class="form-label">Value</label>
        <input type="number" class="form-control" name="PieChartValue">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>