@model ApexBarChartModel

<div id="chart"></div>

@section scripts{
    <script>
        var options = {
            series: [{
                data: @JsonConvert.SerializeObject(Model.Data)
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    borderRadiusApplication: 'end',
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: @Html.Raw(JsonConvert.SerializeObject(Model.Categories)),
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
}